<div class="glow-wrapper showOnScroll">
    <div class="radial-glow"></div>
    <img src="../../assets/images/Hussien-removebg-preview2.png" alt="">
    <div class="glow-text">Your Vision.<br>Our Lens</div>
</div>
<section class="footer">
    <div class="box">
        <div class="line-cont">
            <div class="line1"></div>
            <div class="line2"></div>
        </div>
        <div class="info">
            <p>Phone Number</p>
            <p>+961 81/249957</p>
            <p>hghaddarghaddar&#64;gmail.com</p>
        </div>
    </div>
    <div class="box">
        <div class="line-cont">
            <div class="line1"></div>
            <div class="line2"></div>
        </div>
        <div class="info">
            <p>Address</p>
            <p>Bashron, Ghazieh</p>
            <p>Saida, Lebanon</p>
        </div>
    </div>
    <div class="box">
        <div class="line-cont">
            <div class="line1"></div>
            <div class="line2"></div>
        </div>
        <div class="info">
            <p>Opening Hours</p>
            <p>Monday – Saturday:</p>
            <p>11:00 AM – 05:00 PM</p>
        </div>
    </div>
    <div class="box">
        <div class="line-cont">
            <div class="line1"></div>
            <div class="line2"></div>
        </div>
        <div class="info">
            <p>Social Media</p>
            <div class="socials">
                <a target="_blank" href="https://www.linkedin.com/in/hussein-ghaddar-0a535126a/"><i class="fa-brands fa-linkedin-in" ></i></a>
                <a target="_blank" href="https://wa.me/96181249957"><i class="fa-brands fa-whatsapp"></i></a>
                <a target="_blank" href="https://www.instagram.com/hsen._.ghaddar/  "><i class="fa-brands fa-instagram"></i></a>
                <a target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&to=hghaddarghaddar@gmail.com"><i class="fa-solid fa-envelope"></i></a>
            </div>
        </div>
    </div>
</section>
<div class="footer2">
    <div>
        <p>© All Rights Reserved, Designed by <a href="https://www.linkedin.com/in/hussein-ghaddar-0a535126a/">Hussien Ghaddar</a></p>
    </div>
</div>