<!-- Horizontal Scroll Section #1 -->
<div class="horizontal-section " id="horizontal1">
    <div class="horizontal-wrapper">
        <div class="panel panel1 about">
            <div class="panel1-cont showOnScroll">
                <h2 class="">About Us</h2>
                <p class="colored">Driven by Detail. Inspired by Machines</p>
                <p class="">We are passionate automotive photographers dedicated to capturing the beauty, power, and emotion of
                    every vehicle. Whether it’s a classic, a supercar, or your daily ride — we tell its story through
                    clean, cinematic visuals.</p>
            </div>
            <div class="video-cont showOnScroll">
                <video autoplay muted loop playsinline>
                    <source src="../../assets/images/13127448_1920_1080_60fps.mp4" type="video/mp4" />
                </video>
            </div>
        </div>
        <div class="panel panel2">
            <div class="story">
                <h2>Behind the Lens</h2>
                <p>What started as a <span class="colored">personal passion for cars and design</span> quickly grew
                    into a professional journey in automotive storytelling. Hussien began with graphic design and motion
                    visuals before diving into <span class="colored">car photography and video production</span>,
                    developing a cinematic style that highlights both emotion and mechanical beauty.</p>
                <p>In <span class="colored">2023</span>, this creative vision became <span class="colored">Hussien
                        Visuals</span> — a studio focused on high-end automotive content. With a growing team, the brand
                    blends artistry and precision to craft compelling visuals that bring each <span
                        class="colored">machine’s story</span> to life.</p>
            </div>
            <div class="timeline-cont">
                <div class="timeline">
                    <div class="event event1">
                        <div class="top-text">Started<br>Visual<br>Journey</div>
                        <div class="circle"></div>
                        <div class="vertical-line"></div>

                        <div class="date">2019</div>
                    </div>

                    <div class="event">
                        <div class="top-text">Bought<br>First<br>Camera</div>
                        <div class="circle"></div>
                        <div class="vertical-line"></div>
                        <div class="date">2020</div>
                    </div>

                    <div class="event">
                        <div class="top-text">First<br>Automotive<br>Film</div>
                        <div class="circle"></div>
                        <div class="vertical-line"></div>

                        <div class="date">2021</div>
                    </div>
                    <div class="event">
                        <div class="top-text">Started<br>Client<br>Projects</div>
                        <div class="circle"></div>
                        <div class="vertical-line"></div>

                        <div class="date">2022</div>
                    </div>
                    <div class="event">
                        <div class="top-text">Founded<br>Hussien<br>Visuals</div>
                        <div class="circle"></div>
                        <div class="vertical-line"></div>

                        <div class="date">2023</div>
                    </div>
                </div>
                <div class="base-line"></div>
                <div class="hover-line" id="hover-line"></div>
                <div class="hover-line-up"></div>
            </div>
        </div>
    </div>
</div>



<!-- Horizontal Scroll Section #2 -->
<div class="horizontal-section" id="horizontal2">
    <div class="horizontal-wrapper">
        <div class="skills panel">
            <div class="skills-cont">
                <h2 data-text="Our Skills" class="typeText"></h2>
                <h3 data-text="Video Editing 95%" class="typeText"></h3>
                <div class="progressBar"></div>
                <div class="animatedProgressBar bar1"></div>

                <h3 data-text="Photography 95%" class="typeText "></h3>
                <div class="progressBar"></div>
                <div class="animatedProgressBar bar2"></div>

                <h3 data-text="Motion/Action Shots 85%" class="typeText "></h3>
                <div class="progressBar"></div>
                <div class="animatedProgressBar bar3"></div>

                <h3 data-text="Cinematography 75%" class="typeText"></h3>
                <div class="progressBar"></div>
                <div class="animatedProgressBar  bar4"></div>
            </div>
        </div>
        <div class="panel panel4">
            <div class="panel4-cont">
                <div class="stats stats1">
                    <div class="number-cont">
                        <p class="count" data-nb="100">0</p><span>%</span>
                    </div>
                    <h3 class="show-on-scroll">CUSTOMER <span class="colored">SATISFACTION</span></h3>
                </div>
                <div class="stats stats2">
                    <div class="number-cont ">
                        <p class="count" data-nb="7319">0</p><span>+</span>
                    </div>
                    <h3 class="show-on-scroll">PHOTOS <span class="colored">CAPTURED</span></h3>
                </div>
                <div class="stats stats3">
                    <div class="number-cont">
                        <p class="count" data-nb="1560">0</p><span>+</span>
                    </div>
                    <h3 class="show-on-scroll">HAPPY <span class="colored">CLIENTS</span></h3>
                </div>
            </div>
        </div>
    </div>
</div>

