<div class="gallery portfolio">
  <h1>PHOTOGRAPHIC JOURNEY <span class="colored">THROUGH LIFE</span></h1>
  <div class="gallery-item" data-index="0">
    <div (click)="linkToGallery()" class="gallery-item__content">
      <img  src="../../assets/images/adrian-newell-gDtRrlrWh5s-unsplash.jpg" alt="">
      <div class="text">
        <p><strong>Track Performance</strong></p>
        <p>Capturing raw speed and precision with a cinematic edge</p>
      </div>
    </div>
  </div>
  <div class="gallery-item" data-index="1">
    <div class="gallery-item__content">
      <img  src="../../assets/images/rafael-pazini-kw2WxDfmhbw-unsplash.jpg" alt="">
      <div class="text">
        <p><strong>Classic Era</strong></p>
        <p>Framing timeless machines with a nostalgic yet modern eye</p>
      </div>
    </div>
  </div>
  <div class="gallery-item" data-index="2">
    <div class="gallery-item__content">
      <img  src="../../assets/images/alex-york-0fDbei6Osgg-unsplash.jpg" alt="">
      <div class="text">
        <p><strong>Motion Shots</strong></p>
        <p>Freezing power in motion through sharp focus and fluid composition</p>
      </div>
    </div>
  </div>
  <div class="gallery-item" data-index="3">
    <div class="gallery-item__content">
      <img  src="../../assets/images/haroon-ameer-5D1GwhjW6XM-unsplash.jpg" alt="">
      <div class="text">
        <p><strong>Interior Shots</strong></p>
        <p>Revealing hidden elegance through balanced light and intimate angles</p>
      </div>
    </div>
  </div>
</div>

<div class="custom-cursor">
  <i class="fa-solid fa-arrow-up custom-cursor__icon"></i>
</div>