<section class="mission">
    <div class="mission-cont">
        <div class="banner">
            <p class="tagline">IMAGES THAT SPEAK LOUDER <span class="colored">THAN WORDS</span></p>
            <img src="../../assets/images/janne-aspegren-2ozvYo7shSA-unsplash.jpg" alt="">
        </div>
        <div class="our-mission">
            <h2>Our Mission</h2>
            <p>
                At Hussien Visuals, our mission is to elevate <span class="colored">automotive storytelling</span>
                through cinematic photography and video. We strive to capture the <span class="colored">soul of every
                    vehicle</span> — from the <span class="colored">raw power</span> of performance machines to the
                timeless charm of classics — with an eye for <span class="colored">detail, emotion, and design</span>.
                Through <span class="colored">creativity, precision, and passion</span>, we aim to turn every car into a
                <span class="colored">visual experience</span> that resonates with enthusiasts and brands alike.
            </p>
        </div>
    </div>
</section>
