<section  class="Home hero">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="../../assets/images/anna-deli-ARBnpD6ObK8-unsplash.jpg" alt=""></div>
      <div class="swiper-slide"><img src="../../assets/images/colin-lloyd-DHnw1HP3Bvk-unsplash.jpg" alt=""></div>
      <div class="swiper-slide"><img src="../../assets/images/martin-blaszkiewicz-yJY_DUcsHUM-unsplash.jpg" alt="">
      </div>
      <div class="swiper-slide"><img src="../../assets/images/amir-hosseini-BImGRLRDQ74-unsplash.jpg" alt=""></div>
      <div class="swiper-slide"><img src="../../assets/images/alexandra-gold-w8PpF4Dl6U0-unsplash.jpg" alt=""></div>
    </div>
  </div>
  <div class="hero-container">
    <h1 class="title">Where Machines Meet Art</h1>
    <h2 class="title2">Precision. Passion. Performance — Captured</h2>
    <div class="btns-cont">
      <button (click)="scrollToSection($event, 'portfolio')" class="portfolio-btn">
        <p>Our Portfolio</p>
      </button>
      <button (click)="scrollToSection($event, 'about')" class="cssbuttons-io-button">
        About Us
        <div class="icon">
          <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
              fill="currentColor"></path>
          </svg>
        </div>
      </button>
    </div>
  </div>
</section>